page-favorites{

    h2{
        text-align: left;
        color: color($colors, purplish);
    }

    .toast{
        background-color: color($colors, reddish);
        padding: 40px 28px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        display: flex;

        ion-icon{
            color: color($colors, reddishdark);
        }

        .toast-content{
            color: color($colors, text);
            font-size: 1.6em;
            padding-right: 28px;
            flex: 1;
            opacity: 0;
            animation: fadeUp .4s ease-out .2s;
            animation-fill-mode: forwards;
            > span{
                color: color($colors, greenish);
            }
        }
        
    }

    .favorites-list > div{
        background-color: white;
        padding: 0 5px 0 15px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.07);
        margin-bottom: 15px;
        height: 60px;
        border-radius: 4px;
        color: color($colors, purplish);
        font-size: 1.5em;
        display: flex;
        align-items: center;

        > button{
            font-size: 9px;
        }

        &:nth-child(even){
            background-color: color($colors, purplish);
            color: color($colors, greenish);
            > button{
                color: color($colors, greenish);
            }
        }

        > div{
            flex: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    }
}
